@using CarbonCuttersCore.Interface
@using CarbonCuttersView.Models
@using CarbonCuttersCore
@model TripsModel

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions


@{var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<link rel="stylesheet" href="~/css/tripCalander.css">
<script type="text/javascript" src="/js/calander.js"></script>

<form class="overlay" method="post" asp-controller="Trip" asp-action="AddTrip">
    <div class="popup">
        <div class="title">
            <div class="title1">
                @Localizer["trip"]
            </div>
            <div class="inputContainer">
                <label asp-for="date">@Localizer["date"]</label>
                <input asp-for="date" type="date"/>
            </div>
        </div>

        <div id="Original" class="TripSegmentContainer" style="display: none">
            <div class="title2">
                @Localizer["tripsegment"]
            </div>
            <div class="inputContainer">
                <label asp-for="startTime">@Localizer["starttime"]</label>
                <input asp-for="startTime" type="time"/>
                -
                <input asp-for="endTime" type="time"/>
                <label asp-for="endTime">@Localizer["endtime"]</label>
            </div>
            <div class="inputContainer">
                <label asp-for="vehicletype">@Localizer["transport"]</label>
                <select asp-for="vehicletype" onchange="ChangeInput(this.value, this)" size="4">
                    <option value="none" selected hidden></option>
                    <option value="Car">@Localizer["car"]</option>
                    <option value="NoEmission">@Localizer["noemission"]</option>
                    <option value="PublicTransport">@Localizer["publictransport"]</option>
                    <option value="Airplane">@Localizer["airplane"]</option>
                    <option value="LongDistanceTrain">@Localizer["longdistancetrain"]</option>
                    <option value="ToFromStation">@Localizer["tofromstation"]</option>
                </select>
            </div>
            <div class="optionHidden" name="CarOptions">
                <div>
                    <label asp-for="size">@Localizer["size"]</label>
                    <select asp-for="size" size="3">
                        <option value="none" selected hidden></option>
                        <option value="small">@Localizer["small"]</option>
                        <option value="medium">@Localizer["medium"]</option>
                        <option value="large">@Localizer["large"]</option>
                    </select>
                </div>
                <div>
                    <label asp-for="fuel">@Localizer["fuel"]</label>
                    <select asp-for="fuel" size="5">
                        <option value="none" selected hidden></option>
                        <option value="electric">@Localizer["electric"]</option>
                        <option value="petrol">@Localizer["petrol"]</option>
                        <option value="diesel">@Localizer["diesel"]</option>
                        <option value="gas">@Localizer["gas"]</option>
                        <option value="hybrid">@Localizer["hybrid"]</option>
                    </select>
                </div>
            </div>
            <div class="optionHidden" name="NoEmissionOptions">
                <div>
                    <label asp-for="type1">@Localizer["type"]</label>
                    <select asp-for="type1" value="none" size="2">
                        <option value="walking">@Localizer["walking"]</option>
                        <option value="biking">@Localizer["biking"]</option>
                        <option value="none" selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="optionHidden" name="PublicTransportOptions">
                <div>
                    <label asp-for="type2">@Localizer["type"]</label>
                    <select asp-for="type2" size="5">
                        <option value="tram">@Localizer["tram"]</option>
                        <option value="subway">@Localizer["subway"]</option>
                        <option value="bus">@Localizer["bus"]</option>
                        <option value="taxi">@Localizer["taxi"]</option>
                        <option value="train">@Localizer["train"]</option>
                        <option value="none" selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="optionHidden" name="AirplaneOptions">
                <div>
                    <label asp-for="type3">@Localizer["airplane"]</label>
                    <select asp-for="type3" size="1">
                        <option value="airplane">@Localizer["airplane"]</option>
                        
                        <option value="none" selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="optionHidden" name="LongDistanceTrainOptions">
                <div>
                    <label asp-for="type4">@Localizer["longdistancetrain"]</label>
                    <select asp-for="type4" size="1">
                        <option value="longdistancetrain">@Localizer["longdistancetrain"]</option>
                        
                        <option value="none" selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="optionHidden" name="ToFromStationOptions">
                <div>
                    <label asp-for="type5">@Localizer["tofromstation"]</label>
                    <select asp-for="type5" size="1">
                        <option value="tofromstation">@Localizer["tofromstation"]</option>
                        
                        <option value="none" selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="inputContainer">
                <label asp-for="distance">@Localizer["distance"]</label>
                <input asp-for="distance" type="number" value="0" min="0"/>
            </div>
        </div>

        <div id="dumpContainer">

        </div>

        <div class="backNext">
            <div class="NewTripSegment" onclick="MakeNewForm(1)">@Localizer["addtripsegment"]</div>
            <div id="removeForm" class="NewTripSegment" onclick="MakeNewForm(-1)" style="display: none">@Localizer["removetripsegment"]</div>
        </div>

        <div class="backNext">
            <a class="link" asp-controller="Trip" asp-action="Index">
                @Localizer["back"]
            </a>
            <input type="submit" value="@Localizer["addtrip"]"/>
        </div>
    </div>
</form>

<script>
    MakeNewForm(1)
</script>