@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions


@{var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@using CarbonCuttersCore.Interface
@using CarbonCuttersView.Models
@using CarbonCuttersCore
@model TripsModel

<link rel="stylesheet" href="~/css/tripCalander.css">
<script type="text/javascript" src="/js/calander.js"></script>




<script>
    function updateTrips(i) {
        updateWeek(i);
        @foreach (Trip t in Model.trips)
        {
            @:MakeTrip((@t.dateTime.Year + "-" + @t.dateTime.Month + "-" + @t.dateTime.Day), @t.id, '@t.isDone')
            @foreach (TripSegment s in t.segments)
            {
                var startTime = s.startTime.ToString("HH:mm");
                var endTime = s.endTime.ToString("HH:mm");
                @:MakeTripSections(@t.id, @s.distance, '@startTime', '@endTime')

            }
        }
    }
</script>

<div class="container">
    <div class="header">
        <div class="addpage">
        </div>
        <div class="arrows" onclick="updateTrips(-1)">
            <
        </div>
        <div class="month" id="month">
            september
        </div>
        <div class="arrows" onclick="updateTrips(1)">
            >
        </div>

        <a asp-controller="Trip" asp-action="AddTrip" class="btn btn-primary addTripButton" style="background:#006A4F">
            @Localizer["addtrip"]
        </a>

    </div>
    <div class="calander" id="calander"/>
</div>

<script>updateTrips(0)</script>