@using CarbonCuttersCore.Interface
@using CarbonCuttersView.Models
@using CarbonCuttersCore
@model TripsModel

<link rel="stylesheet" href="~/css/tripCalander.css">
<script type="text/javascript" src="/js/calander.js"></script>

<script>
    function updateTrips(i) {
        updateWeek(i);
        @foreach (Trip t in Model.trips)
        {
            @:MakeTrip((@t.dateTime.Year + "-" + @t.dateTime.Month + "-" + @t.dateTime.Day), @t.id)
            foreach (TripSegment s in t.segments)
            {
                @:MakeTripSections(@t.id, @s.distance, (@s.startTime.Hour + ':' + @s.startTime.Minute), (@s.endTime.Hour + ':' @s.endTime.Minute);
            }
        }
    }
</script>

<div class="container">
    <div class="header">
        <div class="addpage">
        </div>
        <div class="arrows" onclick="updateTrips(-1)">
            <
        </div>
        <div class="month" id="month">
            september
        </div>
        <div class="arrows" onclick="updateTrips(1)">
            >
        </div>
        <a asp-controller="Trip" asp-action="AddTrip">
            +
        </a>
    </div>
    <div class="calander" id="calander"/>
</div>

<script>updateTrips(0)</script>